<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talkable.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.talkable.sdk.TalkableActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
        <receiver
            android:name="com.talkable.sdk.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>
</manifest>
